@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  margin: 60px auto;
  width: auto;
  display: flex;
  flex-direction: column;
}

.calendar {
  width: 300px;
  margin: 30px auto;
}

.button {
  margin: 0 5px;
}
